<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Danslo\VelvetDashboardGraphQl\Model\Resolver\Dashboard\Chart\Orders" type="Danslo\VelvetDashboardGraphQl\Model\Resolver\Dashboard\Chart">
        <arguments>
            <argument name="chartParam" xsi:type="string">quantity</argument>
            <argument name="label" xsi:type="string">Quantity</argument>
        </arguments>
    </virtualType>
    <virtualType name="Danslo\VelvetDashboardGraphQl\Model\Resolver\Dashboard\Chart\Revenue" type="Danslo\VelvetDashboardGraphQl\Model\Resolver\Dashboard\Chart">
        <arguments>
            <argument name="chartParam" xsi:type="string">revenue</argument>
            <argument name="label" xsi:type="string">Revenue</argument>
        </arguments>
    </virtualType>

    <virtualType name="Danslo\VelvetDashboardGraphQl\Model\Resolver\Dashboard\SearchTerms\Last" type="Danslo\VelvetDashboardGraphQl\Model\Resolver\Dashboard\SearchTerms">
        <arguments>
            <argument name="recentFilter" xsi:type="boolean">true</argument>
        </arguments>
    </virtualType>

    <virtualType name="Danslo\VelvetDashboardGraphQl\Model\Resolver\Dashboard\SearchTerms\Top" type="Danslo\VelvetDashboardGraphQl\Model\Resolver\Dashboard\SearchTerms">
        <arguments>
            <argument name="popularFilter" xsi:type="boolean">true</argument>
        </arguments>
    </virtualType>
</config>
